.addToCartBtn {
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
  border: none;
  width: max-content;
  height: max-content;

  &:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(205, 205, 205);
  }
}
