.productCard {
  position: relative;
  border-radius: 8px;
  width: 200px;
  height: 275px;
  overflow: hidden;

  @media screen and (max-width: 480px) {
    width: 150px;
    height: 200px;
  }

  .overlay {
    position: absolute;
    background-color: #ffffffa0;
    height: 100%;
    opacity: 0;
    transition: all 0.8s ease-out;
    width: 100%;

    p {
      padding: 10px;
      color: #000;
      translate: 0 40%;
      transition: all 0.8s ease-out;
      font-size: 30px;
      font-family: "Chakra Petch Medium";
    }
  }

  &:hover {
    .overlay {
      opacity: 1;

      p {
        translate: none;
      }
    }
  }

  .productImage {
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .productDescription {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #00000066);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;

    button {
      margin: 8px;
      font-family: "Urbanist";
      padding: 8px;
    }
  }
}
