.productCard {
  position: relative;
  // border: 1px solid white;
  border-radius: 8px;
  width: 200px;
  height: 275px;
  overflow: hidden;

  .overlay {
    position: absolute;
    background-color: #ffffff64;
    height: 100%;
    opacity: 0;
    transition: all 0.8s ease-out;

    p {
      padding: 10px;
      color: #000;
      translate: 0 40%;
      transition: all 0.8s ease-out;
      font-size: 30px;
    }
  }

  &:hover {
    .overlay {
      opacity: 1;

      p {
        translate: none;
      }
    }
  }

  .productImage {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .productDescription {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00000000, #00000066);
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
